@model RantApp.BLL.ViewModels.RantViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Rants</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Rant")
</p>
<table class="table">
    <tr>
        <th>What people are talking about?</th>
        <th>Posted on</th>
    </tr>

    @foreach (var item in Model.Rants)
    {
        <tr>
            <td><a href="@Url.Action("Details", "Rant", new { id = item.RantId })">@item.Title</a></td>
            <td>@item.PostDate</td>
            <td>
                @Html.ActionLink("View", "Details", "Rant", new { id = item.RantId })
            </td>
        </tr>
    }

</table>
